body{
    background-color: #fff5f5;
    color: white;
    margin: auto;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

.container{
    display: inline;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    height: 300px;
}

#txt_inputM, #txt_inputQ{
    border-radius: 9px;
}

#output{
    padding-top: 10px;
    background-color: white;
    text-align: left;
    border-radius: 10px;
    color: black;
    margin: 20px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: scroll;
}

#lblOutput{
    margin-left: 5%;
    
    position: absolute;
    font-size: 16px;
    width: 80px;
    color: white;
}

#input_container{
    padding-top: 10px;
    background-color: #140f0f;
    display: inline;
    height: 310px;
    width: 400px;
    border-color: white;
    border-radius: 20px;
    display: inline-block;
}

#btnSubmit{
    margin-top: 20px;
    border-radius: 5px;
    background-color: #afc6cc;
    height: 22px;
    width: 82px;
    
}

#btnSubmit:hover{
    transition-duration: 0.1s;
    height: 23px;
    width: 84px;
    
}

#txt_inputM:focus,
#txt_inputQ:focus{
    transition-duration: 0.2s;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 34px -6px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 34px -6px rgba(219,219,219,1);
    box-shadow: 0px 0px 34px -6px rgba(219,219,219,1);
}


.container{
    position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;
}

p {
    margin-left: 20px;
}